.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  height: 50vh;
  width: 35vw;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
}

.board-tile {
  align-items: center;
  border: 2px solid #3a3a3c;
  display: inline-flex;
  font-size: 3.2rem;
  font-weight: bold;
  justify-content: center;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.board-tile.green {
  background: green;
}

.board-tile.grey {
  background: grey;
}

.board-tile.yellow {
  background: yellow;
}
